@page {
    size: B5;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 148mm;
        margin: 10mm;
    }
}

body {
    font-family: arial;
    width: 840px;
    height: 592px;
    margin: 2em;
}

h1 {
    text-align: center;
}

p {
    font-size: 1.2em;
}

i {
    padding: 0 .1em;
    color: #555;
}

ul {
    padding: 0px;
    list-style-type: none;
}

div.competences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.competences li {
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
}

ul.faq {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

li.question {
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    color: #555;
    padding: .5em 0;
}

li.reponse {
    width: 100%;
    padding-left: 1em;
}

li.reponse i {
    padding: .4em .4em;
}
